.dropdown-menu > * .tips,
.dropdown-menu__sub-menu{
	display: none;
}
.dropdown-menu{
	display: block;
	& > *:hover .dropdown-menu__sub-menu{
		display: block;
	}
}
.dropdown-menu > *:hover .tips{
	display: block;
}
.dropdown-menu__sub-menu{
	@extend %absolute;
}
.dropdown-menu__sub-menu--horizontal{
	@extend %text_center;
	width: 100%;
	left: 0;
	padding: 5px 0;
	padding: to-rem(5, 13) 0;
}
.dropdown-menu_submenu--header-dropdown{
	padding-top: em(32, 13);
}
.dropdown-menu__sub-menu__content{
	padding: em(6, 13);
}

.main-navigation--header{
	.tips{
		&:before{
			bottom: -33px;
		}
	}
}