input[type="text"], input[type="password"], input[type="email"], textarea{
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset;
	border-color: #BBBBBB;
	height: em(32, 13);
	padding: em(4) em(5);
	width: 100%;
	@include box-sizing(border-box);
	.lt-ie9 & {
		height: auto;
		padding: em(4) em(10);
		line-height: 1.2;
	}
}
textarea{
	min-height: em(120, 13);
}