body{
	@extend %grey_pattern;
	background: $lighter_grey;
	@include adjust-font-size-to(13px);
}
.wrapper{
	width: 950px;
	width: to-rem(950);
	margin: 0 auto;
	padding: 0 em(5, 13);
}
.media{
	@extend %media;
	@include clearfix;
}
.media--responsive-image{
	@extend %media--responsive-image;
}
.slides>li{
	height: em(703, 13);
	background-size: cover;
	background-repeat: none;
	background-position: center center;
}
.slide1{
	background-image: url(#{$images_route}main-page-banner1.jpg);
}
.slide2{
	background-image: url(#{$images_route}main-page-banner1.jpg);
}
.table-container{
	display: table;
	height: 100%;
	width: 100%;
	& > :first-child{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
}

.slider-area{
	@extend %relative;
}
.flexslider{
	border:0;
	border-radius:0;
	overflow: hidden;
}
.flex-control-nav{
	bottom: 195px;
}
.sub-banner{
	@extend %absolute;
	bottom: 0;
	width: 100%;
	padding: em(17, 13) 0;
	border: 1px solid;
	border-style: solid none solid;
}

.circular-box{
	display: inline-block;
	*display: inline;
	border-radius: 50%;
}
.social-icon{
	@extend %text_center;
	font-size: em(18, 12);
	line-height: em(28, 18);
	width: em(28, 18);
	height: em(28, 18);
	text-decoration: none;
}

.banner-secundario{
	img{
		max-width: none;
		width: 100%;
		vertical-align: middle;
	}
}
.soft-bottom-section{
	padding-bottom: 20px;
}
.index-maps{
	margin-bottom:30px;
}
.blue--separator{
	@extend %diagonal_blue_pattern;
	height: em(16, 13);
	box-shadow: inset 0 5px 12px rgba(black, 0.65);
}

.blue--separator--positioned{
	@include position(absolute, auto 0px auto 0px);
	width: 100%;
	z-index: -1;
}

.block-list{
	border-top-width: 0;
	& > li:last-child{border-bottom-width: 0;}
}

.block-list--dotted,
.block-list--dotted > li{
	border-style: dotted;
}
th, td{
	padding: em(10, 12) em(14, 12);
}
th{
	padding: em(16, 12) em(14, 12);
}
.image-container{
	margin-bottom: 20px;
}
.leader{
	@include leader();
}
.trailer{
	@include trailer();
}
