.top-area{
	@extend %absolute;
	width: 100%;
	z-index: 1;
}
.main-header{
	@extend %grey_pattern;
	@extend .cf;
	padding: to-rem(8) 0;
	width: 100%;
}
.top-bar{
	@extend %text_right;
	@include rem(12);
	line-height: 1;
	background: rgba(black,0.5);
	padding: em(6, 12) 0;
}
.main-logo{
	@extend .sprite-item;
	@include hide-text;
	@include size(em(140, 33) em(60, 33));
	display: block;
	background-position: 1.944% 12.297%;
	.lt-ie9 & {
		@include size(em(144, 33) em(68, 33));
	}
}
.main-navigation{
	@extend %fr;
}
.main-navigation--header{
	margin-top: em(28, 13);
}
.header-dropdown--white-color a{
	@extend .ligth-color;
}