.flex-direction-nav a{
	@extend .sprite-item;
	height: em(58, 13);
	width: em(58, 13);
	.lt-ie9 & {
		@include size(em(64, 13) em(62, 13));
	}
}
.flex-direction-nav a:hover,
.image-icon:hover{
	opacity: 0.9;
}
.flex-direction-nav .flex-prev{background-position: 47.797% 0.471%;}
.flex-direction-nav .flex-next{background-position: 62.486% 0.471%;}
.image-icon{
	@extend .sprite-item;
	display: inline-block;
	*display: inline;
}
.image-icon--plus{
	background-position: 74.151% 1.388%;
	width: em(44, 13);
	height: em(44, 13);
	.lt-ie9 & {
		@include size(em(48, 13));
	}
}

.image-icon--sprockets{
	background-position: 0.877% 23.175%;
	width: em(44, 13);
	height: em(54, 13);
	.lt-ie9 & {
		@include size(em(48, 13) em(58, 13));
	}
}