%index-map--transitions{
	@include transition(all 0.2s ease-out);
}
.index-maps{

}
.map__item{
	@include background-size(cover);
	@extend %index-map--transitions;
	background: url(#{$images_route}map-item-bg.jpg) no-repeat;
	cursor: pointer;
	text-align: center;
	height: 167px;
	@extend %relative;
	.map__sprocket{
		@include position(absolute, 0px 0px 0px 0px);
		@extend %index-map--transitions;
		margin: auto;
	}
	.map__description{
		@include position(absolute, 0 0px 0px 0px);
		@extend %index-map--transitions;
		transition-delay: 0.3s;
		padding: 4px 8px;
		text-align: left;
	}
	&.fan_opened{
		background: none;
		.map__sprocket{
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			opacity: 0;
		}
	}
	&.fan_closed{
		.map__description,
		img{
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			opacity: 0;
			transition-delay: 0;
		}
	}
}

.map__more{
	margin: 65px 0 0 20px;
}