.nav-h{
	@extend %nav-item;
	line-height: 1;
}
.dashed-nav{
	& > *{
		border-right: 1px solid;
		padding: 6px 12px;
		padding: to-rem(6) to-rem(12);
		&:last-child{
			border-right: 0;
		}
	}
	.dashed-nav{
		& > *{
			padding: 3px 7px;
			padding: to-rem(3) to-rem(7);
		}	
	}
}

.dashed-nav--small{
	@extend .dashed-nav;
	& > *{
		padding: 0 4px;
		border-color: white;
		line-height: 1;
	}
}