

a,
.light-blue{
	color: $link_main_color;
	text-decoration: none;
}
a:hover{
	color: $lighter_main_color;
}
a:active{
	color: #777;
}
.ligth-color{
	color: white;
	text-shadow: 0 2px black;
}
a.ligth-color:hover{
	color: darken(white, 10%)
}

%grey-box{
	background: $light_grey;
}
.light-grey{
	color: $general_grey;
}
.lighter-blue{
	color: $lighter_main_color;
}

%grey-box--hoverable{
	@extend %grey-box;
	color: #fff;
	&:hover{
		background: $dark_grey;
		color: #fff;
	}
	&:active{
		background: $light_grey;
	}
}


.translucid-box{
	background: #fff;
	@include background(rgba(255,255,255,0.7));
	border-color: #fff;
}

.translucid-box--dark{
	background: #000;
	@include background(rgba(0,0,0,0.7));
	@extend .ligth-color;
}

.sprite-item{
	@include retina-image(#{$images_route}main-sprite, 500px 800px);
}

%grey_pattern{@include retina-image(#{$images_route}grey_pattern, 22px 22px, jpg);}
%blue_pattern{@include retina-image(#{$images_route}blue_pattern, 22px 22px, jpg);}
%dark_pattern{@include retina-image(#{$images_route}dark_grey_pattern, 22px 22px, jpg);}
%diagonal_blue_pattern{@include retina-image(#{$images_route}diagonal-blue, 22px 22px, jpg);}

.grey-pattern{@extend %grey_pattern;}
.dark-pattern{@extend %dark_pattern;}
.blue-pattern{
	@extend %blue_pattern;
	background-color: $dark_main_color;
}
.diagonal-blue-pattern{@extend %diagonal_blue_pattern;}
.dashed-nav--light-border > *{
	border-color: #ccc;
}
.dashed-nav--light-border > *{
	border-color: #ccc;
}
%drop_shadow{
	box-shadow: 0 2px 6px rgba(black, 0.34);
}
.main-header{
	@extend %drop_shadow;
}
.dropdown-menu__sub-menu__content{
	@extend %drop_shadow;
}
.label-title{
	@extend .sprite-item;
	@extend .ligth-color;
	@extend %text_center;
	background-position: 0.333% 0.677%;
	width: em(200, 20);
	height: em(62, 20);
	line-height: em(48, 20);
	margin-bottom: em(40, 20);
	.lt-ie9 & {
		margin-top: -4px;
	}
}

.main-footer{
	border-top: 1px solid $lighter_grey;
	color: #666;
}

.social-icon{
	@extend %grey-box--hoverable;
}

.main-footer{
	border-top: 1px solid $light_grey;
}
.border-image{
	border: 1px solid #D6D6D6;
	box-shadow: 0 0 6px #D6D6D6;
}