.tips{
	@extend %relative;
	display: block;
	&:before{
		@extend %absolute;
		content:"";
		border: 8px solid transparent;
		display: block;
		height: 0;
		margin: auto;
		width: 0;
		z-index: 2;
	}
}

.tips--down{
	&:before{border-top-color: black;}
	&.tips--blue:before{
		border-top-color: $dark_main_color;
	}
}
.tips--up{
	&:before{border-bottom-color: black;}
	&.tips--blue:before{
		border-bottom-color: $dark_main_color;
	}
}
.tips--right{
	&:before{border-left-color: black;}
	&.tips--blue:before{
		border-left-color: $dark_main_color;
	}
}
.tips--left{
	&:before{border-right-color: black;}
	&.tips--blue:before{
		border-right-color: $dark_main_color;
	}
}

.tip--center{
	&:before{
		right: 0;
		left: 0;
	}
}