@mixin media-queries($screen_type: "screen", $screen: "max-width", $size: "600px") {
	
		@media #{$screen_type} and ( #{$screen}: #{$size} ){
			@content;
		}
	
}

@function to-rem($des, $base: 16){
  @return ($des / $base) *1rem;
}

@mixin rem($dest: 16, $prop: "font-size"){
  #{$prop}: #{$dest}px;
  #{$prop}: to-rem($dest);
}

%media{
	overflow: hidden;
	& > :first-child{
		float: left;
		margin: 0 em(20, 13) 0 0;
		img{
			vertical-align: middle;
		}
	}

	& > :last-child{
		overflow: hidden;
		padding-top: em(8, 13);
	}
}

%media--responsive-image{
	@extend %media;
	& > :first-child{
		img{
			@include media-queries($size: "767px"){
				//display: none;
			}
		}
	}
}

%nav-item{
	margin: 0;
	& > *{
		display: inline-block;
		vertical-align: top;
		list-style: none;
		margin-left: em(-4, 13);
		padding: 2px 4px;
		zoom: 1; /* Fix for IE7 */
		*display: inline; /* Fix for IE7 */
	}
}

%fl{float: left;}
%fr{float: right;}
%text_right{text-align: right;}
%text_center{text-align: center;}
%absolute{position: absolute;}
%relative{position: relative;}
%center_box{margin-left: auto; margin-right: auto;}

.center-box{@extend %center_box;}