
//Colors
$dark_main_color: #203F64;
$main_color: #1F4061;
$light_main_color: #325F95;
$lighter_main_color: #7793BA;



$link_main_color: #325F95;


$dark_grey: #A1A1A1;
$light_grey: #D5D5D5;
$lighter_grey: #FAFAFA;
$general_grey: #666;
$base-font-size: 16px;
$base-line-height: 24px;
$images_route: "../images/";